

svg {
  circle.visible {
    fill: none;
    stroke: black;
  }
  line {
    stroke: black;
  }
  .control-point {
    fill: blue;
    stroke: none;
    cursor: pointer;
  }
  .handle {
    fill: none;
    stroke: rgba(0,0,0,0);
    stroke-width: 20;
  }
  .active { stroke-width: 2px; cursor: pointer; }
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
