

.geometry-scene {

  stroke: black;
  fill: none;
  
  .point {
    fill: black; // only until the intersection point bug is fixed...
    stroke: none;
  }
  .free-point {
    fill: blue;
    stroke: none;
    cursor: pointer;
  }
  .handle {
    fill: none;
    stroke: rgba(0,0,0,0);
    stroke-width: 20;
  }
  .active { stroke-width: 2px; cursor: pointer; }
}


#home svg {
  height: 100vmin;
  width: 100vmin;
  display: block;
  margin: 0 auto;
}

#background-example {
  .geometry-scene {
    /* imitate a background image */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
    z-index: 100;
    
    /* color */
    stroke: rgba(128, 160, 160, .5);
    .point { fill: white; stroke: inherit; }
    .free-point { fill: rgb(128, 160, 160);}
    .hex { stroke: rgba(160, 100, 50, .5); }
  }
  .content {
    position: relative;
    z-index: 200;
  }
  
}
