<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

<!--
<%= pkg.name %>
<%= pkg.url %>
Copyright <%= now.getFullYear() %> <%= pkg.author %>.
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= pkg.title %></title>
        <meta name="description" content="<%= pkg.description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        
        <link rel="stylesheet" href="css/geometry.css">
        <link rel="stylesheet" href="css/examples.css">
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
